/* Custom styles for navbar links */
.custom-link {
  padding: 10px 20px; /* Adjust padding (top/bottom, left/right) */
  color: #939292 !important;  /* Custom text color (Tomato color in this case) */
  font-weight: bold;  /* Make the text bold */
}

.custom-link:hover {
  color: #fff !important;  /* Change text color on hover to white */
  background-color: #555 !important;  /* Change background color on hover */
  border-radius: 5px;  /* Optional: rounded corners on hover */
}

.form-control {
  width: 300px;  /* Shorten the input fields to a specific width */
  margin-left: 0;  /* Align the input fields to the left */
  margin-right: auto;  /* Ensure the input fields are aligned to the left */
  display: block;  /* Ensure inputs are block elements */
}

body{
  /* background-color: rgb(91, 94, 106); */
  background-color: aliceblue;
  line-height: 1.5;
  font-weight: 400;
}


#bannerWrapper{
  width: 100%;
  background-position: center;
}

#bannerImg{
  border-radius: 8px;
  width: 60%;

}

#learnMoreBtn{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a56c6c;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

#learnMoreBtn:hover {
  border-color: #646cff;
}
#learnMoreBtn:focus,
#learnMoreBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mt-4{
  background-color: white;
  border-radius: 12px;
  width: 70%;
  padding: 15px;

}

/* .container{
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  width: 60%;
  margin-top: 10px;
} */

.bannerTitle{
  color: #6b6b6b;
}

#signUpTitle{
  color: #6e6767;
  margin-left: 10px;
}


.banner-card{
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  width: 50%;
  margin-top: 10px;
  margin-left: 280px;
  display: flexbox;
}